{% extends "common.html" %}
    {% block content %}
    {% load static %}
        {% if product.image %}
            <img src="{{product.image.url}}" alt="" height='300'>
        {% endif %}
        <h4>{{product.name}}</h4>
        <p>{{product.quantity}} left</p>
        <code>#{{product.price}}</code>
        <a href="{% url "edit-product" product.id %}"><button>edit</button></a>
        <a href="{% url "delete-product" product.id %}"><button>delete</button></a>
        <hr>
    {% endblock content %}